@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*
 * Small (smaller than 640px).
 * Medium (641px to 1007px).
 * Large (1008px and larger).
 */


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("src/images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-interface {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: bg-color ease-in-out 15s infinite;
}

@keyframes bg-color {
    0% {
        background-color: #000000DF;
    }
    20% {
        background-color: #1e121dce;
    }
    40% {
        background-color: #0e1819d4;
    }
    60% {
        background-color: #3b1800aa;
    }
    65% {
        background-color: #6f140baa;
    }
    80% {
        background-color: #4f7535aa;
    }
    100% {
        background-color: #000000DF;
    }
  }

.msg-container {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    padding: 5%;
    position: relative;
}

.wip {
    font-family: "Quicksand";
    text-align: center;
    text-shadow: 10px 5px 10px #000000;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.775);
}

.coming-soon {
    font-family: "Quicksand";
    text-align: center;
    text-shadow: 10px 5px 10px #000000;
    font-size: 150px;
    color: white;
}

/* POINTS ANIMATION
 * src: https://loading.io/css/
 */
.lds-ellipsis-container {
    right: 21%;
    top: 46%;
    -webkit-transform: translate(-21%, -46%);
    transform: translate(-21%, -46%);
    position: absolute;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* LOADING ANIMATION. 
 * src: https://loading.io/css/
 */
.lds-ripple-container {
    left: 50%;
    bottom: 7%;
    -webkit-transform: translate(-50%, -7%);
    transform: translate(-50%, -7%);
    position: absolute;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 320px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 150px;
        left: 150px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* RESPONSIVE SIZES */
@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
}

@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}

@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}

@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .msg-container {
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%);
        padding: 5%;
        position: relative;
    }
    
    .wip {
        font-family: "Quicksand";
        text-align: center;
        text-shadow: 10px 5px 10px #000000;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.775);
    }
    
    .coming-soon {
        font-family: "Quicksand";
        text-align: center;
        text-shadow: 10px 5px 10px #000000;
        font-size: 50px;
        color: white;
    }

    .lds-ripple-container {
        left: 50%;
        bottom: 15%;
        -webkit-transform: translate(-50%, -15%);
        transform: translate(-50%, -15%);
        position: absolute;
    }

    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    @keyframes lds-ripple {
        0% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 1;
        }
    
        100% {
            top: 0px;
            left: 0px;
            width: 72px;
            height: 72px;
            opacity: 0;
        }
    }

}

@media (min-width:1281px) {
     /* hi-res laptops and desktops */ 
}