@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("src/images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.main-interface {
    width: 94%;
    height: 90%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #000000DF;
    border-radius: 25px;
}

.coming-soon-container {
    top: 35%;
    left: 47%;
    -webkit-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
    padding: 5%;
    position: relative;
}

.coming-soon {
    font-family: "Quicksand";
    text-align: center;
    font-size: 100px;
    font-weight: 350px;
    color: white;
}

/* POINTS ANIMATION
 * src: https://loading.io/css/
 */
.lds-ellipsis-container {
    right: 21%;
    top: 46%;
    -webkit-transform: translate(-21%, -46%);
    transform: translate(-21%, -46%);
    position: absolute;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* LOADING ANIMATION. 
 * src: https://loading.io/css/
 */
.lds-ripple-container {
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    position: absolute;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}