@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/src/images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-interface {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: bg-color ease-in-out 15s infinite;
}

@keyframes bg-color {
    0% {
        background-color: #000000DF;
    }
    10% {
        background-color: #141525ce;
    }
    20% {
        background-color: #1e121dce;
    }
    40% {
        background-color: #0e1819d4;
    }
    60% {
        background-color: #3b1800aa;
    }
    65% {
        background-color: #6f140baa;
    }
    80% {
        background-color: #3d4f31aa;
    }
    100% {
        background-color: #000000DF;
    }
}

.msg-container {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    position: relative;
}

.coming-soon {
    font-family: "Quicksand";
    text-align: center;
    text-shadow: 10px 5px 10px #000000;
    font-size: 40px;
    color: white;
}

.tip-msg {
    height: 20px;
    font-family: "Quicksand";
    text-align: center;
    text-shadow: 10px 5px 10px #000000;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.775);
}

/* LOADING ANIMATION. 
 * src: https://loading.io/css/
 */
.loader-container {
    left: 50%;
    bottom: 7%;
    -webkit-transform: translate(-50%, -7%);
    transform: translate(-50%, -7%);
    position: absolute;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


/* RESPONSIVE SIZES */
@media (min-width:641px) and (max-width:1007px)  {  

    .coming-soon {
        font-family: "Quicksand";
        text-align: center;
        text-shadow: 10px 5px 10px #000000;
        font-size: 45px;
        color: white;
    }

    .tip-msg {
        font-family: "Quicksand";
        text-align: center;
        text-shadow: 10px 5px 10px #000000;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.775);
    }
}

@media (min-width:1008px) {

    .coming-soon {
        font-family: "Quicksand";
        text-align: center;
        text-shadow: 10px 5px 10px #000000;
        font-size: 50px;
        color: white;
    }

    .tip-msg {
        font-family: "Quicksand";
        text-align: center;
        text-shadow: 10px 5px 10px #000000;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.775);
    }

}
